@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* header styles */

.header{
/* width: 1440px; */
height: 677px;
background-color: #2D25A0;

}
.nav-bar{
    display: flex;
    justify-content: space-around;
    padding-top: 42px;
 
}
span  a{
color: whitesmoke;
margin-right: 36px;
text-decoration: none;
}
.Login-btn{
    padding: 10px;
    background-color: #E02C6D;
}
.fill{
    padding-right: 5px;
}

.copa-image{
display: flex;
justify-content: space-evenly;
align-items: center;
margin-top: 50px;
}
.top-title{
    margin-top: -120px;
    font-weight:bolder;
    font-size: 2rem;
    color: white;
    line-height: 27px;

}
.top-title>a{
    margin-top: 10px;
    background-color: #E02C6D;
    padding: 12px;
    font-size: 1rem;
    color: white;
    text-decoration: none;
}
.fas{
    margin-left: 5px;
}

@keyframes slide{
    from{
        transform: translate(0px);
    }
    to{
        transform: translate(200px);
    }
}
.header:hover .top-image{
    animation: slide 2s ease-in-out 0s alternate infinite;
    
}
/* common styles */
body{
   font-family: 'Poppins', sans-serif;
   margin:0;
}